.filter{

	@include clearfix;
	
	margin: 1em 0;
	padding: 8px 0;
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;

	.count{
		float: left;
		line-height: 20px;
		font-weight: 600;
	}

	.sort{
		float: right;
		select{
			
		}
	}
}