@import "susyone";

$base-line-height             : 25px;
$form-line-height             : 25px;

// Default font size and font color
$fonts 												: Arial, Sans-serifs;
$base-font-size               : 14px;
$font-color                   : #333333;

$total-columns  : 12;
$column-width   : 67px/$base-font-size * 1em;
$gutter-width   : 20px/$base-font-size * 1em;
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$max-width      : 1024px/$base-font-size * 1em;

$mobiles				: 3;
$tablets				: 8;
$desktop				: 55em 12;

$black					: #000000 !default;
$white					: #ffffff !default;
$light-gray			: #f1f1f1 !default;
$gray						: #cccccc !default;

$DEBUG                        : true;
$experimental-support-for-svg : true;
