@import "susyone";

$base-line-height             : 25px;
$form-line-height             : 25px;

// Default font size and font color
$base-font-size               : 16px;
$font-color                   : #333333;



$total-columns  : 12;
$column-width   : 65px/$base-font-size *1em;
$gutter-width   : 30px/$base-font-size *1em;
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$max-width      : 1170px/$base-font-size *1em;